<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nectar Infotel Test">
    <meta name="author" content="Pawan Sen">
    <meta name="keywords" content="Nectar Infotel Test">

    <!-- Title Page-->
    <title>Nectar Infotel Solutions Pvt Ltd</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Grounding / Bonding Evaluation Tool (GBET) Customer Primary Contact Information</h2>
                    <% if (messages.error) { %>
                    <p style="color:red"><%- messages.error %></p>
                    <% } %>
                    <% if (messages.success) { %>
                    <p style="color:green"><%- messages.success %></p>
                    <% } %>
                    <form method="POST" action="/customer/customer_info" name="customerinfo">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    
                                    <% if (Name) { %>
                                        <input class="input--style-4" type="text" name="Name" placeholder="Full Name" autocomplete="off" value="<%- Name %>">
                                    <% } else { %>
                                       <input class="input--style-4" type="text" name="Name" placeholder="Full Name" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Title</label>
                          
                                   <% if (Title) { %>
                                        <input class="input--style-4" type="text" name="Title" placeholder="Title" autocomplete="off" value="<%- Title %>">
                                    <% } else { %>
                                        <input class="input--style-4" type="text" name="Title" placeholder="Title" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Corporation</label>
                  
                                <% if (Corporation) { %>
                                    <input class="input--style-4" type="text" name="Corporation" placeholder="Corporation" autocomplete="off" value="<%- Corporation %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="Corporation" placeholder="Corporation" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Address 1</label>
                                   <% if (AddressFirst) { %>
                                    <input class="input--style-4" type="text" name="AddressFirst" placeholder="Address 1" autocomplete="off" value="<%- AddressFirst %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="AddressFirst" placeholder="Address 1" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Address 2</label>
                                    <% if (AddressSecond) { %>
                                    <input class="input--style-4" type="text" name="AddressSecond" placeholder="Address 2" autocomplete="off" value="<%- AddressSecond %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="AddressSecond" placeholder="Address 2" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">City</label>
                                    <% if (City) { %>
                                    <input class="input--style-4" type="text" name="City" placeholder="City" autocomplete="off" value="<%- City %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="City" placeholder="City" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">State</label>
                                    <% if (State) { %>
                                    <input class="input--style-4" type="text" name="State" placeholder="State" autocomplete="off" value="<%- State %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="State" placeholder="State" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">ZIP</label>
                                    <% if (Zip) { %>
                                    <input class="input--style-4" type="text" name="Zip" placeholder="456003" autocomplete="off" value="<%- Zip %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="Zip" placeholder="456003" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Office Tele</label>
                                    <% if (OfficeTele) { %>
                                    <input class="input--style-4" type="text" name="OfficeTele" placeholder="" autocomplete="off" value="<%- OfficeTele %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="OfficeTele" placeholder="" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Cell Tele</label>

                                    <% if (CellTele) { %>
                                    <input class="input--style-4" type="text" name="CellTele" placeholder="" autocomplete="off" value="<%- CellTele %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="CellTele" placeholder="" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <% if (Email) { %>
                                    <input class="input--style-4" type="text" name="Email" placeholder="example@mail.com" autocomplete="off" value="<%- Email %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="Email" placeholder="example@mail.com" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">URL</label>
                                    <% if (Url) { %>
                                    <input class="input--style-4" type="text" name="Url" placeholder="https://www.example.com" autocomplete="off" value="<%- Url %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="Url" placeholder="https://www.example.com" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">

                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Customer Type</label>
                                    <% if (CustomerType) { %>
                                    <input class="input--style-4" type="text" name="CustomerType" autocomplete="off" value="<%- CustomerType %>">
                                    <% } else { %>
                                    <input class="input--style-4" type="text" name="CustomerType" autocomplete="off">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                    <!--         <button action="/index" class="btn btn--radius-2 btn--blue" type="button">Reset</button> -->
                            <button class="btn btn--radius-2 btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->